<section class="slider-section-2 slider-section-2-bg">
			<div class="bannar-image">
				<img src="assets/images/bannar-img.jpg" alt="bannar">
			</div><!-- /.bannar-image -->
			<div class="container">
				<div class="row">
					<div class="slide">					
						<div class="site-page-header clear-fix">
							<div class="site-title">
								<h2>Registration</h2>
							</div><!-- /.site-title -->

							<div class="breadcrumb">
								<ul>
									<li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
									<li class="breadcrumb-item active"><a [routerLink]="['/registeration']">Registration</a></li>
								</ul>
							</div><!-- /.breadcrumb -->
						</div><!-- /.site-page-header -->
					</div><!-- /.slide -->
				</div>
			</div><!-- /.container -->	
		</section>

		<!--
				registration form start 	  =
		======================================= -->
		<section id="registration-page">
			<div class="section-padding">
				<div class="container">
					<div class="row">
						<div class="col-md-7 left-col">
							<div class="row">

				<div class="do-main v2" id="what-we-do">
					<ul id="da-thumbs" class=" da-thumbs do-box">
						<li><a href="#">
							<span  class="icon flaticon-massage-3"></span>
							<span class="text">Accupressure</span>
							<div class="direction-overlay">
								<span  class="icon flaticon-massage-3"></span>
								<span class="text">Accupressure</span>
							</div>
						</a></li>

						<li><a href="#">
							<span  class="icon flaticon-massage-2"></span>
							<span class="text">Marm therapy</span>
							<div class="direction-overlay">
								<span  class="icon flaticon-massage-2"></span>
								<span class="text">Marm therapy</span>
							</div>
						</a></li>

						<li><a href="#">
							<span  class="icon flaticon-foot-massage"></span>
							<span class="text">Foot Accupressure</span>
							<div class="direction-overlay">
								<span  class="icon flaticon-foot-massage"></span>
								<span class="text">Foot Accupressure</span>
							</div>
						</a></li>

						<li><a href="#">
							<span  class="icon flaticon-rehabilitation"></span>
							<span class="text">Water therapy</span>
							<div class="direction-overlay">
								<span  class="icon flaticon-rehabilitation"></span>
								<span class="text">Water therapy</span>
							</div>
						</a></li>

						<li><a href="#">
							<span  class="icon flaticon-acupuncture"></span>
							<span class="text">Accupenture</span>
							<div class="direction-overlay">
								<span  class="icon flaticon-acupuncture"></span>
								<span class="text">Accupenture</span>
							</div>
						</a></li>

						<li><a href="#">
							<span  class="icon flaticon-massage-1"></span>
							<span class="text">Relaxation</span>
							<div class="direction-overlay">
								<span  class="icon fflaticon-massage-1"></span>
								<span class="text">Relaxation</span>
							</div>
						</a></li>
						<li><a href="#">
							<span  class="icon flaticon-person-on-meditation-posture-on-a-desk"></span>
							<span class="text">spa therapy</span>
							<div class="direction-overlay">
								<span  class="icon flaticon-person-on-meditation-posture-on-a-desk"></span>
								<span class="text">spa therapy</span>
							</div>
						</a></li>
						<li><a href="#">
							<span  class="icon flaticon-woman-with-open-legs-posture"></span>
							<span class="text">Yoga</span>
							<div class="direction-overlay">
								<span  class="icon flaticon-woman-with-open-legs-posture"></span>
								<span class="text">Yoga</span>
							</div>
						</a></li>
						<li><a href="#">
							<span  class="icon flaticon-exercise"></span>
							<span class="text">Marm Therapy</span>
							<div class="direction-overlay">
								<span  class="icon flaticon-exercise"></span>
								<span class="text">Marm Therapy</span>
							</div>
						</a></li>
						<li><a href="#">
							<span  class="icon flaticon-stretching-exercises"></span>
							<span class="text">yoga Exercise</span>
							<div class="direction-overlay">
								<span  class="icon flaticon-stretching-exercises"></span>
								<span class="text">yoga Exercise</span>
							</div>
						</a></li>
						<li><a href="#">
							<span  class="icon flaticon-hinduist-yoga-position"></span>
							<span class="text">Control Body</span>
							<div class="direction-overlay">
								<span  class="icon flaticon-hinduist-yoga-position"></span>
								<span class="text">Control Body</span>
							</div>
						</a></li>
						<li><a href="#">
							<span  class="icon flaticon-yoga"></span>
							<span class="text">Balance Body</span>
							<div class="direction-overlay">
								<span  class="icon flaticon-yoga"></span>
								<span class="text">Balance Body</span>
							</div>
						</a></li>
						<li><a href="#">
							<span  class="icon flaticon-flower-therapy"></span>
							<span class="text">Ayurvedic Therapy</span>
							<div class="direction-overlay">
								<span  class="icon flaticon-flower-therapy"></span>
								<span class="text">Ayurvedic Therapy</span>
							</div>
						</a></li>
						<li><a href="#">
							<span  class="icon flaticon-physiotherapy"></span>
							<span class="text">Foot Therapy</span>
							<div class="direction-overlay">
								<span  class="icon flaticon-physiotherapy"></span>
								<span class="text">Foot Therapy</span>
							</div>
						</a></li>
						<li><a href="#">
							<span  class="icon flaticon-therapy"></span>
							<span class="text">Marm Therapy</span>
							<div class="direction-overlay">
								<span  class="icon flaticon-therapy"></span>
								<span class="text">Marm Therapy</span>
							</div>
						</a></li>
					</ul>

					
				</div><!-- /.do-main -->

			</div><!-- /.row -->
						</div><!-- /.col-md-6 -->

						<div class="col-md-5 right-col">
							<div class="registration comment-area">
								<h3>Register Now</h3>

								<form role="form" #registeration="ngForm" (ngSubmit)="register()">
							
								<div class="form-group required">
									<p class="control-label">User name</p>
									<input type="text" class="form-control" name="username" id="username" #username="ngModel" [(ngModel)]="user.username" required>
									 <div class="error-block"> <small *ngIf="username.errors?.required && username.touched" class="text-danger"> Username is required </small> </div>
								</div>
							
								<div class="form-group required">
									<p class="control-label">E-mail</p>
									<input type="email" class="form-control" name="email" id="email" #email="ngModel" [(ngModel)]="user.email" email required>
									<div class="error-block">
									 <small *ngIf="email.errors?.required && email.touched" class="text-danger"> Email is required</small>
									 <small *ngIf="email.errors?.email && email.dirty" class="text-danger">Email is not valid</small>
									</div>
								</div>
								<div class="form-group required">
									<p class="control-label">Password</p>
									<input type="password" class="form-control" name="password" id="password" #password="ngModel" maxlength="20" minlength="8" [(ngModel)]="user.password" required>
									<div class="error-block">
			                            <small *ngIf="password.errors?.required && password.touched" class="text-danger">
			                              password is required
			                            </small>
			                            <small *ngIf=" password.errors?.minlength && password.touched" class="text-danger">
			                                password is too small
			                            </small>
			                            <small *ngIf=" password.errors?.maxlength && password.touched" class="text-danger">
			                                password is too large
			                            </small>
			                        </div>
								</div>
								<div class="form-group required">
									<p class="control-label">Confirm Password</p>
									<input type="password" class="form-control" name="confirmpassword" id="confirmpassword" #confirmpassword="ngModel" [(ngModel)]="user.confirmpassword" [equalTo]="password" required>
									<div class="error-block">
										<small *ngIf="confirmpassword.errors?.required && confirmpassword.touched" class="text-danger"> confirm password is required </small>
										<small *ngIf="(confirmpassword.errors?.equalTo && confirmpassword.touched)" class="text-danger"> password mismatch </small> 
									</div>
								</div>
								<div class="form-group required">
									<p class="control-label">Phone</p>
									<input type="text" class="form-control" maxlength="10" (keypress)="_keyPress($event)" name="phone" id="phone" #phone="ngModel" [(ngModel)]="user.phone" minlength="10" required>
									<div class="error-block"> 
										<small *ngIf="phone.errors?.required && phone.touched" class="text-danger"> Mobile number is required </small> 
										<small *ngIf="phone.errors?.minlength && phone.touched" class="text-danger"> Enter valid mobile number</small> 
									</div>
								</div>	
								<div class="form-group required">
									<p class="control-label">State</p>
									<select select="state" class="form-control" name="state" id="state" placeholder="" #state="ngModel" [(ngModel)]="user.state" required>
									  <option value="">Select state</option>
									  <option value="delhi">Delhi</option>
									  <option value="up">UP</option>
									  <option value="uk">Uk</option>
									</select>
									<div class="error-block"> 
										<small *ngIf="state.errors?.required && state.touched" class="text-danger"> State is required </small> 
									</div>									
								</div>
								<div class="form-group required">
									<p class="control-label">District</p>
									<select select="district" class="form-control" name="district" id="district" #district="ngModel" [(ngModel)]="user.district" placeholder="" required>
									  <option value="">Select District</option>
									  <option value="delhi">Delhi</option>
									  <option value="old">Old Delhi</option>
									  <option value="south">South Delhi</option>
									</select>
									<div class="error-block"> 
										<small *ngIf="district.errors?.required && district.touched" class="text-danger"> District is required </small> 
									</div>	
								</div>
								<div class="form-group required">
									<p class="control-label">City</p>
									<input type="text" class="form-control" maxlength="50" name="city" id="city" #city="ngModel" [(ngModel)]="user.city" required>
									<div class="error-block"> 
										<small *ngIf="city.errors?.required && city.touched" class="text-danger"> City is required </small> 
									</div>
								</div>
								<div class="form-group required">
									<p class="control-label">Address</p>
									<input type="text" class="form-control" maxlength="100" name="address" id="address" #address="ngModel" [(ngModel)]="user.address" required>
									<div class="error-block"> 
										<small *ngIf="address.errors?.required && address.touched" class="text-danger"> Address is required </small> 
									</div>
								</div>
								<div class="form-group required">
									<p class="control-label">PinCode</p>
									<input type="text" class="form-control"  name="pincode" maxlength="6" (keypress)="_keyPress($event)" id="pincode" #pincode="ngModel" [(ngModel)]="user.pincode" required>
									<div class="error-block"> 
										<small *ngIf="pincode.errors?.required && pincode.touched" class="text-danger"> Pincode is required </small> 
									</div>
								</div>

									<div class="check-box-area">
										<div class="check-box">
											<div class="check-box-left">
												<input type="checkbox" name="vehicle" value="Bike" class="checkbox1">
											</div>
											<div class="check-box-cont">I Agree to the terms and conditions.</div>
										</div>

										<div class="check-box">
											<div class="check-box-left">
												<input type="checkbox" name="vehicle" value="Bike" class="checkbox1">
											</div>
											<div class="check-box-cont">I would like to subscribe to the newsletter.</div>
										</div>
									</div>
									<button class="btn btn-primary btn-lg" [disabled]="(!registeration.valid)">Sign Up</button>
									
								</form>
							</div><!-- /.registration comment-area -->
						</div><!-- /.col-md-6 -->
					</div><!-- /.row -->
				</div><!-- /.container -->
			</div><!-- /.section-padding -->
		</section>

