<section class="slider-section-2 slider-section-2-bg">
			<div class="bannar-image">
				<img src="assets/images/bannar-img.jpg" alt="bannar">
			</div><!-- /.bannar-image -->
			<div class="container">
				<div class="row">
					<div class="slide">					
						<div class="site-page-header clear-fix">
							<div class="site-title">
								<h2>About</h2>
							</div><!-- /.site-title -->

							<div class="breadcrumb">
								<ul>
									<li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
									<li class="breadcrumb-item active"><a [routerLink]="['/aboutus']">About</a></li>
								</ul>
							</div><!-- /.breadcrumb -->
						</div><!-- /.site-page-header -->
					</div><!-- /.slide -->
				</div>
			</div><!-- /.container -->	
		</section>

		
				<!--
				About we do section start  	  =
		======================================= -->
		<section id="about-we-do">
			<div class="section-padding">
				<div class="container">
					<div class="row">
						<div class="col-md-5">
							<div class="about-img">
								<img src="assets/images/about-we-do.jpg" alt="Images">
							</div><!-- /.about-img -->
						</div>
						<div class="col-md-7">
							<div class="about-content">
								<h2>What We Do</h2>
								<p>Continually brand frictionless manufactured products via just in time mindshare. Quickly optimize exceptional networks before mission-critical web services. cally evolve robust convergence vis-a-vis bricks-and-clicks mindshare. Uniquely strategize enabled scenarios via world-class catalyst for change. Assertively unleash building potentialities whereas distinctive sources.</p>
								<p>Assertively integrate reliable leadership where maintainable bandwidth. Authoritatively engineer exceptional interfaces before professional methodologies. Rapidiously grow tactical core competencies for interdependent materials.</p>
							</div><!-- /.about-content -->
						</div>
					</div><!-- /.row -->
				</div><!-- /.container -->
			</div><!-- /.section-padding -->
		</section>



		<!--
				Pro Trainer section start  	  =
		======================================= -->
		<section id="pro-trainer">
			<div class="section-padding">
				<div class="container">
					<div class="row">
						
						<h2 class="section-title"><span>Professional</span><br> Trainers</h2>
						<div class="col-sm-4 col-md-4">
							<div class="image-box">
								<div class="b-img">
									<a href="trainer-portfolio.html"><img src="assets/images/about-trainer-img1.jpg" alt="Trainers Image"></a>
									<div class="overlay"></div><!-- /.overlay -->
									<div class="social-media bounceInDown">
										<a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-pinterest-p"></i></a>
										<a href="#" class="social-icon last-border"><i class="fa fa-vimeo-square"></i></a>
									</div><!-- /.social-media -->
								</div><!-- /.b-img -->
								
								<div class="image-des">
									<h4><a href="">Rafino Yogo</a></h4>
									<p>Fitness Trainer</p>
								</div><!-- /.image-des -->
							</div><!-- /.image-box -->
						</div>
						<div class="col-sm-4 col-md-4">
							<div class="image-box">
								<div class="b-img">
									<a href="trainer-portfolio.html"><img src="assets/images/about-trainer-img2.jpg" alt="Trainers Image"></a>
									<div class="overlay"></div><!-- /.overlay -->
									<div class="social-media">
										<a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-pinterest-p"></i></a>
										<a href="#" class="social-icon last-border"><i class="fa fa-vimeo-square"></i></a>
									</div><!-- /.social-media -->
								</div><!-- /.b-img -->
								
								<div class="image-des">
									<h4><a href="">Karlose Adriano</a></h4>
									<p>Yoga Trainer</p>
								</div><!-- /.image-des -->
							</div><!-- /.image-box -->
						</div>
						<div class="col-sm-4 col-md-4">
							<div class="image-box">
								<div class="b-img">
									<a href="trainer-portfolio.html"><img src="assets/images/about-trainer-img3.jpg" alt="Trainers Image"></a>
									<div class="overlay"></div><!-- /.overlay -->
									<div class="social-media">
										<a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-pinterest-p"></i></a>
										<a href="#" class="social-icon last-border"><i class="fa fa-vimeo-square"></i></a>
									</div><!-- /.social-media -->
								</div><!-- /.b-img -->
								
								<div class="image-des">
									<h4><a href="">Zerin Yagrinuqe</a></h4>
									<p>Hard Yoga Teach</p>
								</div><!-- /.image-des -->
							</div><!-- /.image-box -->
						</div>


					</div><!-- /.row -->
				</div><!-- /.container -->
			</div><!-- /.section-padding -->
		</section>



		<!--
				qoute section start         =
		======================================= -->
		<section id="about-qoutation">
			<div class="counter-area">
				
				<div class="container">
					<div class="row">
						<div class="col-sm-6 col-md-3">
							<div class="counter-item">
								<span class="number">15</span>
								<span class="count-name">Trainers</span>
							</div><!-- /.counter-item -->
						</div>
						<div class="col-sm-6 col-md-3">
							<div class="counter-item">
								<span class="number">240</span>
								<span class="count-name">Happy Students</span>
							</div><!-- /.counter-item -->
						</div>
						<div class="col-sm-6 col-md-3">
							<div class="counter-item">
								<span class="number">24</span>
								<span class="count-name">Running Classes</span>
							</div><!-- /.counter-item -->
						</div>
						<div class="col-sm-6 col-md-3">
							<div class="counter-item">
								<span class="number">99</span>
								<span class="count-name">Exclusive Accessories</span>
							</div><!-- /.counter-item -->
						</div>
					</div><!-- /.row -->
				</div><!-- /.container -->
			</div><!-- /.counter-area -->

			<!-- Qoute area start -->
			<div id="qoute">
			
				<div class="container">
					<div class="flexslider sliding-area">
						<ul class="slides">
							<li data-thumb="assets/images/flex-img1.jpg">
							<span class="qoute-icon"><i class="fa fa-quote-left"></i></span>
							<p class="slideInRight">Dynamically empower multifunctional e-tailers through professional catalysts for change. Objectively fashion sustainable synergy for world-class results. Credibly predominate one-to-one communities vis-a-vis just in time collaboration and idea sharing. </p>
							<h5 class="qouter-name"><a href="#">Megedo Yabo</a></h5>
							<span class="exertness">Yoga Expert</span>
						</li>
						<li data-thumb="assets/images/flex-img2.jpg">
							<span class="qoute-icon"><i class="fa fa-quote-left"></i></span>
							<p>Dynamically empower multifunctional e-tailers through professional catalysts for change. Objectively fashion sustainable synergy for world-class one-to-one communities vis-a-vis just in time collaboration and idea sharing. </p>
							<h5 class="qouter-name"><a href="#">Karl Hopper</a></h5>
							<span class="exertness">Yoga Expert</span>
						</li>
						<li data-thumb="assets/images/flex-img3.jpg">
							<span class="qoute-icon"><i class="fa fa-quote-left"></i></span>
							<p>Dynamically empower multifunctional e-tailers through professional catalysts for change. Objectively fashion sustainable synergy for world-class results. Credibly predominate one-to-one Credibly predominate one-to-one communities vis-a-vis just in time collaboration and idea sharing. </p>
							<h5 class="qouter-name"><a href="#">Niam Farnando</a></h5>
							<span class="exertness">Yoga Expert</span>
						</li>
						</ul>

					</div><!-- /.flexslider -->
				</div><!-- /.container -->
			</div>
		</section>
		

