<!--
			 Slider section start         	  =
		======================================= -->
		<section class="slider-section-2 slider-section-2-bg">
			<div class="bannar-image">
				<img src="assets/images/bannar-img.jpg" alt="bannar">
			</div><!-- /.bannar-image -->
			<div class="container">
				<div class="row">
					<div class="slide">					
						<div class="site-page-header clear-fix">
							<div class="site-title">
								<h2>Contact</h2>
							</div><!-- /.site-title -->

							<div class="breadcrumb">
								<ul>
									<li class="breadcrumb-item"><a href="index.html">Home</a></li>
									<li class="breadcrumb-item active"><a href="#">Contact</a></li>
								</ul>
							</div><!-- /.breadcrumb -->
						</div><!-- /.site-page-header -->
					</div><!-- /.slide -->
				</div>
			</div><!-- /.container -->	
		</section>


		<!--
				registration form start 	  =
		======================================= -->
		<section id="contact-page">
			<div class="section-padding">
				<div class="container">
					<div class="row">
						<div class="col-md-8 left-col">
							<div class="leave-comment comment-area">
								<h3 class="comment-title">Leave A Comment</h3>

								<form action="#">
									<input type="text" class="pull-left" placeholder="E-mail *">
									<input type="text" class="pull-right" placeholder="Name *">
									<input type="text" class="subjcet" placeholder="subject *">
									<textarea name="massage" placeholder="Massage"></textarea>
									<a href="#" class="custom-btn">Submit</a>
								</form>
							</div> <!-- leave comment -->
						</div><!-- /.col-md-6 -->

						<div class="col-md-4 right-col">
							<div class="sidebar">
								<div class="widget">								
									<h4 class="widget-title">Orgainizer Details</h4>

									<p class="widget-des">Uniquely repurpose leveraged technologies with quality intellectual capital. Interactively synthesize excellent benefits. </p>

									<ul class="address">
										<li>
											<i class="fa fa-map-marker"></i>
											<span>New Delhi Ncr</span>
										</li>

										<li>
											<i class="fa fa-phone"></i>
											<span>+918707025813</span>
										</li>

										<li>
											<i class="fa fa-envelope"></i>
											<span><a href="#">contact@yourmail.com</a></span>
										</li>

										<li>
											<i class="fa fa-globe"></i>
											<span><a href="#">our website</a></span>
										</li>

										<li>
											<div class="m-share">
												<ul>
													<li><a href="#"><i class="fa fa-facebook"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
													<li><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
												</ul>
											</div><!-- /.m-share -->
										</li>
									</ul>
								</div><!-- end widge-box-->
							</div>
						</div><!-- /.col-md-6 -->
					</div><!-- /.row -->
				</div><!-- /.container -->
			</div><!-- /.section-padding -->
		</section>


		<!--
				map start 	 				 =
		======================================= -->
		<section class="map-area">
			<div id="map"></div>
		</section>