	<!--
			 Slider section start         	  =
		======================================= -->
		<section class="slider-section-2 slider-section-2-bg">
			<div class="bannar-image">
				<img src="assets/images/bannar-img.jpg" alt="bannar">
			</div><!-- /.bannar-image -->
			<div class="container">
				<div class="row">
					<div class="slide">					
						<div class="site-page-header clear-fix">
							<div class="site-title">
								<h2>Traier</h2>
							</div><!-- /.site-title -->

							<div class="breadcrumb">
								<ul>
									<li class="breadcrumb-item"><a href="index.html">Home</a></li>
									<li class="breadcrumb-item active"><a href="#">Trainer Portfolio</a></li>
								</ul>
							</div><!-- /.breadcrumb -->
						</div><!-- /.site-page-header -->
					</div><!-- /.slide -->
				</div>
			</div><!-- /.container -->	
		</section>


		<!--
			    trainer-portfolio start              =
		======================================= -->
		<section class="trainer-portfolio">
			<div class="section-padding">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="portfolio-image">
								<img src="assets/images/trainer-portfolio-img.jpg" alt="Portfolio">
							</div><!-- /.portfolio-image -->
						</div><!-- /.col-md-4 -->

						<div class="col-md-8">
							<div class="portfolio-content">
								<div class="portfolio-title">
									<h3 class="pull-left">Rafino Yogo <br> <span>Yoga Teacher</span></h3>
									<a href="#" class="custom-btn pull-right">Contact Trainer</a>
								</div><!-- /.portfolio-title -->

								<p>Authoritatively coordinate functional users whereas client-focused alignments. Phosfluorescently simplify global e-tailers whereas seamless infomediaries. Phosfluorescently monetize team driven human capital without intuitive innovation. Compellingly innovate B2B markets via cross-platform total linkage. Objectively e-enable vertical content vis-a-vis inexpensive experiences.</p>
								<p>Appropriately repurpose bleeding-edge architectures through real-time models. Intrinsicly pursue resource-leveling ideas via competitive growth strategies.</p>

								<ul>
									<li>
										<div class="addr-left">
											Phone:
										</div>
										<div class="addr-right">
											<span>011987263546</span>
										</div>
									</li>

									<li>
										<div class="addr-left">
											E-mail:
										</div>
										<div class="addr-right">
											<span>contact@yourmail.com</span>
										</div>
									</li>

									<li>
										<div class="addr-left">
											Web:
										</div>
										<div class="addr-right">
											<a href="#">www.yourdomain.com</a>
										</div>
									</li>

									<li>
										<div class="addr-left">
											Follow me on:
										</div>
										<div class="addr-right">
											<div class="m-share">
												<ul>
													<li><a href="#"><i class="fa fa-facebook"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
													<li><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
												</ul>
										</div><!-- /.m-share -->
										</div>
									</li>
								</ul>

								<div class="piechart">
									<div class="piechart-content">                 
					                    <div class="row">
					                      <div class="pie-item">
					                            <div class="pie-chart" data-percent="75" data-barColor="#43aea8" data-trackColor="#c6c6c6" data-lineWidth="10" data-barSize="200">

					                                <div class="pie-chart-percent">
					                                    <span></span>
					                                    <sup>%</sup>
					                                </div>
					                            </div><!-- end .pie-chart -->
					                            <p class="piechart-text text-center">Yoga</p>       
					                        </div><!--/.span1 -->

					                        <div class="pie-item">
					                           <div class="pie-chart" data-percent="85" data-barColor="#43aea8" data-trackColor="#c6c6c6" data-lineWidth="10" data-barSize="200">

					                                <div class="pie-chart-percent">
					                                    <span></span>
					                                    <sup>%</sup>
					                                </div>
					                            </div><!-- end .pie-chart -->
					                            <p class="piechart-text text-center">Fitness</p>
					                        </div><!-- /.span2 -->

					                        <div class="pie-item">
					                            <div class="pie-chart" data-percent="60" data-barColor="#43aea8" data-trackColor="#c6c6c6" data-lineWidth="10" data-barSize="200">

					                                <div class="pie-chart-percent">
					                                    <span></span>
					                                    <sup>%</sup>
					                                </div>
					                            </div><!-- end .pie-chart -->
					                            <p class="piechart-text text-center">Boxing</p>      
					                        </div><!-- /.span3 -->

					                        <div class="pie-item">
					                            <div class="pie-chart" data-percent="50" data-barColor="#43aea8" data-trackColor="#c6c6c6" data-lineWidth="10" data-barSize="200">

					                                <div class="pie-chart-percent">
					                                    <span></span>
					                                    <sup>%</sup>
					                                </div>
					                            </div><!-- end .pie-chart -->
					                            <p class="piechart-text text-center">Exercise</p>     
					                        </div><!-- /.span4 -->
					                    </div><!--/.row -->  
					        </div><!-- /.piechart-content -->
								</div><!-- /.trainer-progressbar -->
							</div><!-- /.portfolio-content -->
						</div><!-- /.col-md-8 -->
					</div><!-- /.row -->
				</div><!-- /.container -->
			</div><!-- /.section-padding -->
		</section>



		<!--
			    trainer-portfolio start              =
		======================================= -->
		<section id="classby">
			<div class="section-padding">
				<div class="container">
					<div class="row">
						<!-- related post  -->
						<div class="related-post comment-area class-grid">
							<h3>Related Post</h3>

							<div class="r-post">
								<div class="col-sm-4 col-md-4">
									<!-- class image box 1 -->
									<div class="image-box">
										<div class="b-img">
											<a href="class-detail.html"><img src="assets/images/class-grid1.jpg" alt="Image"></a>
										</div><!-- /.class-img -->

										<div class="class-info">
											<h4 class="class-title">Fitness Body</h4>
											<p>With <a href="#">Russel Due</a></p>

											<div class="post-info">
												<span class="date">
													<i class="fa fa-calendar-o"></i>
													22 July 2015
												</span>

												<span class="time">
													<i class="fa fa-user"></i>
													6:00 am - 8:00 am
												</span>
											</div><!-- /.post-info -->

											<a href="#" class="custom-btn learn-more">Learn More</a>
										</div><!-- /.class-info -->
									</div><!-- /.class-image-box -->
								</div>

								<div class="col-sm-4 col-md-4">
									<!-- class image box 1 -->
									<div class="image-box">
										<div class="b-img">
											<a href="class-detail.html"><img src="assets/images/class-grid2.jpg" alt="Image"></a>
										</div><!-- /.class-img -->

										<div class="class-info">
											<h4 class="class-title">Fitness Body</h4>
											<p>With <a href="#">Russel Due</a></p>

											<div class="post-info">
												<span class="date">
													<i class="fa fa-calendar-o"></i>
													22 July 2015
												</span>

												<span class="time">
													<i class="fa fa-user"></i>
													6:00 am - 8:00 am
												</span>
											</div><!-- /.post-info -->

											<a href="#" class="custom-btn learn-more">Learn More</a>
										</div><!-- /.class-info -->
									</div><!-- /.class-image-box -->
								</div>

								<div class="col-sm-4 col-md-4">
									<!-- class image box 1 -->
									<div class="image-box">
										<div class="b-img">
											<a href="class-detail.html"><img src="assets/images/class-grid3.jpg" alt="Image"></a>
										</div><!-- /.class-img -->

										<div class="class-info">
											<h4 class="class-title">Fitness Body</h4>
											<p>With <a href="#">Russel Due</a></p>

											<div class="post-info">
												<span class="date">
													<i class="fa fa-calendar-o"></i>
													22 July 2015
												</span>

												<span class="time">
													<i class="fa fa-user"></i>
													6:00 am - 8:00 am
												</span>
											</div><!-- /.post-info -->

											<a href="#" class="custom-btn learn-more">Learn More</a>
										</div><!-- /.class-info -->
									</div><!-- /.class-image-box -->
								</div>
							</div><!-- /.r-post -->
						</div>
					</div><!-- /.row -->
				</div><!-- /.container -->
			</div><!-- /.section-padding -->
		</section>

