<!--
			 Slider section start         	  =
		======================================= -->
		<section class="slider-section-2 slider-section-2-bg">
			<div class="bannar-image">
				<img src="assets/images/bannar-img.jpg" alt="bannar">
			</div><!-- /.bannar-image -->
			<div class="container">
				<div class="row">
					<div class="slide">					
						<div class="site-page-header clear-fix">
							<div class="site-title">
								<h2>Trainer</h2>
							</div><!-- /.site-title -->

							<div class="breadcrumb">
								<ul>
									<li class="breadcrumb-item"><a href="index.html">Home</a></li>
									<li class="breadcrumb-item active"><a href="#">Trainer</a></li>
								</ul>
							</div><!-- /.breadcrumb -->
						</div><!-- /.site-page-header -->
					</div><!-- /.slide -->
				</div>
			</div><!-- /.container -->	
		</section>


		<!--
			    main body start              =
		======================================= -->
		<section id="main-body">
			<div class="container">
				<div class="row">
					<div class="class-trainer">

						<div class="col-sm-4 col-md-4">
							<div class="image-box">
								<div class="b-img">
									<a href="trainer-portfolio.html"><img src="assets/images/trainer1.jpg" alt="Trainers Image"></a>
									<div class="overlay"></div><!-- /.overlay -->
									<div class="social-media">
										<a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-pinterest-p"></i></a>
										<a href="#" class="social-icon last-border"><i class="fa fa-vimeo-square"></i></a>
									</div><!-- /.social-media -->
								</div><!-- /.b-img -->
								
								<div class="image-des">
									<h4><a href="">Rafino Yogo</a></h4>
									<p>Fitness Trainer</p>
								</div><!-- /.image-des -->
							</div><!-- /.image-box -->
						</div>	

						<div class="col-sm-4 col-md-4">
							<div class="image-box">
								<div class="b-img">
									<a href="trainer-portfolio.html"><img src="assets/images/trainer2.jpg" alt="Trainers Image"></a>
									<div class="overlay"></div><!-- /.overlay -->
									<div class="social-media">
										<a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-pinterest-p"></i></a>
										<a href="#" class="social-icon last-border"><i class="fa fa-vimeo-square"></i></a>
									</div><!-- /.social-media -->
								</div><!-- /.b-img -->
								
								<div class="image-des">
									<h4><a href="">Rafino Yogo</a></h4>
									<p>Fitness Trainer</p>
								</div><!-- /.image-des -->
							</div><!-- /.image-box -->
						</div>

						<div class="col-sm-4 col-md-4">
							<div class="image-box">
								<div class="b-img">
									<a href="trainer-portfolio.html"><img src="assets/images/trainer3.jpg" alt="Trainers Image"></a>
									<div class="overlay"></div><!-- /.overlay -->
									<div class="social-media">
										<a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-pinterest-p"></i></a>
										<a href="#" class="social-icon last-border"><i class="fa fa-vimeo-square"></i></a>
									</div><!-- /.social-media -->
								</div><!-- /.b-img -->
								
								<div class="image-des">
									<h4><a href="">Rafino Yogo</a></h4>
									<p>Fitness Trainer</p>
								</div><!-- /.image-des -->
							</div><!-- /.image-box -->
						</div><!-- /.col-md-4 -->

						<div class="col-sm-4 col-md-4">
							<div class="image-box">
								<div class="b-img">
									<a href="trainer-portfolio.html"><img src="assets/images/trainer4.jpg" alt="Trainers Image"></a>
									<div class="overlay"></div><!-- /.overlay -->
									<div class="social-media">
										<a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-pinterest-p"></i></a>
										<a href="#" class="social-icon last-border"><i class="fa fa-vimeo-square"></i></a>
									</div><!-- /.social-media -->
								</div><!-- /.b-img -->
								
								<div class="image-des">
									<h4><a href="">Rafino Yogo</a></h4>
									<p>Fitness Trainer</p>
								</div><!-- /.image-des -->
							</div><!-- /.image-box -->
						</div>

						<div class="col-sm-4 col-md-4">
							<div class="image-box">
								<div class="b-img">
									<a href="trainer-portfolio.html"><img src="assets/images/trainer5.jpg" alt="Trainers Image"></a>
									<div class="overlay"></div><!-- /.overlay -->
									<div class="social-media">
										<a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-pinterest-p"></i></a>
										<a href="#" class="social-icon last-border"><i class="fa fa-vimeo-square"></i></a>
									</div><!-- /.social-media -->
								</div><!-- /.b-img -->
								
								<div class="image-des">
									<h4><a href="">Rafino Yogo</a></h4>
									<p>Fitness Trainer</p>
								</div><!-- /.image-des -->
							</div><!-- /.image-box -->
						</div>

						<div class="col-sm-4 col-md-4">
							<div class="image-box">
								<div class="b-img">
									<a href="trainer-portfolio.html"><img src="assets/images/trainer6.jpg" alt="Trainers Image"></a>
									<div class="overlay"></div><!-- /.overlay -->
									<div class="social-media">
										<a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-pinterest-p"></i></a>
										<a href="#" class="social-icon last-border"><i class="fa fa-vimeo-square"></i></a>
									</div><!-- /.social-media -->
								</div><!-- /.b-img -->
								
								<div class="image-des">
									<h4><a href="">Rafino Yogo</a></h4>
									<p>Fitness Trainer</p>
								</div><!-- /.image-des -->
							</div><!-- /.image-box -->
						</div><!-- /.col-md-4 -->

						<div class="col-sm-4 col-md-4">
							<div class="image-box">
								<div class="b-img">
									<a href="trainer-portfolio.html"><img src="assets/images/trainer7.jpg" alt="Trainers Image"></a>
									<div class="overlay"></div><!-- /.overlay -->
									<div class="social-media">
										<a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-pinterest-p"></i></a>
										<a href="#" class="social-icon last-border"><i class="fa fa-vimeo-square"></i></a>
									</div><!-- /.social-media -->
								</div><!-- /.b-img -->
								
								<div class="image-des">
									<h4><a href="">Rafino Yogo</a></h4>
									<p>Fitness Trainer</p>
								</div><!-- /.image-des -->
							</div><!-- /.image-box -->
						</div>

						<div class="col-sm-4 col-md-4">
							<div class="image-box">
								<div class="b-img">
									<a href="trainer-portfolio.html"><img src="assets/images/trainer8.jpg" alt="Trainers Image"></a>
									<div class="overlay"></div><!-- /.overlay -->
									<div class="social-media">
										<a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-pinterest-p"></i></a>
										<a href="#" class="social-icon last-border"><i class="fa fa-vimeo-square"></i></a>
									</div><!-- /.social-media -->
								</div><!-- /.b-img -->
								
								<div class="image-des">
									<h4><a href="">Rafino Yogo</a></h4>
									<p>Fitness Trainer</p>
								</div><!-- /.image-des -->
							</div><!-- /.image-box -->
						</div>

						<div class="col-sm-4 col-md-4">
							<div class="image-box">
								<div class="b-img">
									<a href="trainer-portfolio.html"><img src="assets/images/trainer9.jpg" alt="Trainers Image"></a>
									<div class="overlay"></div><!-- /.overlay -->
									<div class="social-media">
										<a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
										<a href="#" class="social-icon"><i class="fa fa-pinterest-p"></i></a>
										<a href="#" class="social-icon last-border"><i class="fa fa-vimeo-square"></i></a>
									</div><!-- /.social-media -->
								</div><!-- /.b-img -->
								
								<div class="image-des">
									<h4><a href="">Rafino Yogo</a></h4>
									<p>Fitness Trainer</p>
								</div><!-- /.image-des -->
							</div><!-- /.image-box -->
						</div><!-- /.col-md-4 -->

					</div><!-- /.class-trainer -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section>