<section class="slider-section-2 slider-section-2-bg">
			<div class="bannar-image">
				<img src="assets/images/bannar-img.jpg" alt="bannar">
			</div><!-- /.bannar-image -->
			<div class="container">
				<div class="row">
					<div class="slide">					
						<div class="site-page-header clear-fix">
							<div class="site-title">
								<h2>Gallery</h2>
							</div><!-- /.site-title -->

							<div class="breadcrumb">
								<ul>
									<li class="breadcrumb-item"><a href="index.html">Home</a></li>
									<li class="breadcrumb-item active"><a href="#">Gallery</a></li>
								</ul>
							</div><!-- /.breadcrumb -->
						</div><!-- /.site-page-header -->
					</div><!-- /.slide -->
				</div>
			</div><!-- /.container -->	
		</section>

		
		<!--
				Photo Gallery section star 	  =
		======================================= -->
		<!-- Portfolio Section -->
		<section id="Gallery-work" class="Gallery-work">
			<div class="section-padding">
				<div class="container">
					
					<div id="features-container" class="clearfix">
						<div class="featuresFilter">
							<a href="#" data-filter="" class="current">Yoga</a>
							<a href="#" data-filter=".cat-1">Fitness</a>
							<a href="#" data-filter=".cat-2">Exercise</a>
							<a href="#" data-filter=".cat-3">Health</a>
							<a href="#" data-filter=".cat-4">Bodybuild</a>
						</div> <!-- /.featuresFilter -->

						<div class="features-item element-from-bottom">
							<figure class="item item-w2 cat-1 cat-3">
								<img src="assets/images/01.jpg" alt="Item 1" />
								<div class="overlay"></div>
								
							</figure>

							<figure class="item cat-5 cat-2">
								<img src="assets/images/02.jpg" alt="Item 1" />
								<div class="overlay"></div>
								
							</figure>

							<figure class="item cat-3 cat-4">
								<img src="assets/images/03.jpg" alt="Item 1" />
								<div class="overlay"></div>
								
							</figure>

							<figure class="item cat-5 cat-4">
								<img src="assets/images/04.jpg" alt="Item 1" />
								<div class="overlay"></div>
								
							</figure>

							<figure class="item item-w2 cat-2 cat-3">
								<img src="assets/images/05.jpg" alt="Item 1" />
								<div class="overlay"></div>
								
							</figure>

							<figure class="item cat-4 cat-1">
								<img src="assets/images/06.jpg" alt="Item 1" />
								<div class="overlay"></div>
								
							</figure>

							<figure class="item cat-2 cat-3 cat-5">
								<img src="assets/images/07.jpg" alt="Item 1" />
								<div class="overlay"></div>
								
							</figure>

							<figure class="item cat-2 cat-3 cat-5">
								<img src="assets/images/08.jpg" alt="Item 1" />
								<div class="overlay"></div>
								
							</figure>

							<figure class="item item-w2 cat-2 cat-3 cat-5">
								<img src="assets/images/09.jpg" alt="Item 1" />
								<div class="overlay"></div>
								
							</figure>

						</div><!-- /.features-item -->

						<a href="#" class="load-more text-center">
							<i class="fa fa-spinner fa-pulse"></i>
							<span>Load More</span>
						</a><!-- /.load-more -->
					</div><!-- /#portfolio-container -->
				</div>
			</div><!-- /.section-padding -->
		</section><!-- #portfolio -->