<header id="header">

	<nav class="navbar">
					<div class="logo-area">
					<a [routerLink]="['/']" class="logo"><img src="assets/images/logo.png"  alt="logo"></a><br/>
					
				</div><!-- /.logo-area -->
		<!-- /.social-media-list -->
		<div class="container">
			<div class="row">
				<div class="menu-left">
					<ul class="nav navbar-nav pull-right">
						<li class="menu">
							<a [routerLink]="['/']">Home</a>
						</li>
						<li><a [routerLink]="['/aboutus']">About</a></li>
						<li class="menu">
							<a [routerLink]="['/trainors']">Trainers</a>
						</li>
						<!-- <li class="dropdown">
							<a href="class-detail.html">Class</a>
							<ul class="dropdown-menu">
								<li><a href="class-detail.html">Class Details</a></li>
								<li><a href="class-grid.html">Class Grid</a></li>
								<li><a href="class-list.html">Class List</a></li>
								<li><a href="class-schedule.html">Class Schedule</a></li>
							</ul>
						</li> -->
					</ul>
				</div><!-- /.menu-left -->



				<div class="menu-right">
					<ul class="nav navbar-nav">
						
						
						<!-- <li class="dropdown">
							<a href="blog-single-default.html">Blog</a>
							<ul class="dropdown-menu">
								<li><a href="blog-single-default.html">Blog</a></li>
								<li><a href="blog-single-layout2.html">Blog Single Layout</a></li>
							</ul>
						</li> -->
						<!-- <li class="dropdown">
							<a href="#">Category</a>
							<ul class="dropdown-menu">
								<li><a [routerLink]="['/login']">Accupressure</a></li>
								<li><a [routerLink]="['/login']">Accupenture</a></li>
								<li><a [routerLink]="['/registeration']">Naturopathy</a></li>
								<li><a [routerLink]="['/registeration']">Marm Chikitsa</a></li>
								<li><a [routerLink]="['/registeration']">Aurvedic therapy</a></li>
								<li><a [routerLink]="['/registeration']">Relaxation</a></li>
							
							</ul>
						</li> -->
						<li class="menu">
							<a  [routerLink]="['/category']">Services</a>
							
						</li>
						<li class="menu">
							<a  [routerLink]="['/gallery']">Gallery</a>
							
						</li>
						<li class="dropdown">
							<a href="#">Account</a>
							<ul class="dropdown-menu">
								<li><a [routerLink]="['/login']">Login</a></li>
								<li><a [routerLink]="['/registeration']">Registration</a></li>
								<!-- <li><a href="event-single.html">Event Single</a></li>
								<li><a href="shop-index.html">Shop</a></li>
								<li><a href="shop-product.html">Shop Product</a></li>
								<li><a href="shopping-cart.html">Product Cart</a></li>
								<li><a href="registration-form.html">Registration Form</a></li>
								<li><a href="error.html">Error</a></li> -->
							</ul>
						</li>
						<li class="menu">
							<a  [routerLink]="['/contact']">Contact</a>
							
						</li>
					</ul>
				</div><!-- /.menu-right -->
			</div><!-- /.row -->
		</div><!-- /.container -->




		<div class="search-icon" data-toggle="collapse" data-target=".search-field"></div><!-- /.search-icon -->
		<div class="search-field collapse">
			<input type="text" placeholder="Search Here ...">
		</div><!-- /.search-field -->
	</nav><!-- /navbar -->

	<div class="mobile-menu">
		<div class="container">
			<div class="row">
				<div class="m-menu">

					<div class="navbar-header">
					<!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#bottomnav" aria-controls="bottomnav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button> -->
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span><i class="fa fa-bars"></i></span>
						</button>
						<a class="small-logo" href="index.html"><img src="assets/images/small-logo.png" alt="Logo"></a>

						<div class="search-icon" data-toggle="collapse" data-target=".search-field"></div><!-- /.search-icon -->
						<div class="search-field collapse">
							<input type="text" placeholder="Search Here ...">
						</div><!-- /.search-field -->
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="active-menu">
								<a [routerLink]="['/']" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
							</li>

							<li><a  [routerLink]="['/aboutus']" >About</a></li>

							<li class="menu">
								<a [routerLink]="['/trainors']" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Trainers</a>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account</a>
								<ul class="dropdown-menu">
									<li><a  [routerLink]="['/login']">Login</a></li>
									<li><a  [routerLink]="['/registeration']">Registration</a></li>
									
								</ul>
							</li>
							<li class="menu">
								<a href="gallery-popup.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gallery</a>
							</li>
							
							<li><a href="contact.html" class="contact">Contact</a></li>
						</ul>
					</div><!-- /.navbar-collapse -->
					<!-- Collect the nav links, forms, and other content for toggling -->
					<!-- /.navbar-collapse -->

				</div><!-- /.menu -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</div><!-- /.main-menu -->
</header>
<router-outlet></router-outlet>
<footer id="main-footer">

	<!-- footer top  -->
	<div class="footer-top">
		<div class="section-padding">
			<div class="container">
				<div class="row">

					<div class="col-md-3">
						<div class="widget">
							<h4 class="widget-title">About Fitness24</h4>
							<p class="widget-des">Uniquely actualize superior value and resource maximizing collaboration idea sharing. </p>

							<ul class="address">
								<li>
									<i class="fa fa-map-marker"></i>
									<span>Delhi Ncr</span>
								</li>

								<li>
									<i class="fa fa-phone"></i>
									<span>+918707025813</span>
								</li>

								
							</ul>
						</div><!-- /.widget -->
					</div><!-- /.col-md-3 -->

					<div class="col-md-3">
						<div class="widget">
							<h4 class="widget-title">Useful links</h4>

							<ul class="links">
								<li><a href="#">
									<i class="fa fa-circle"></i>
									My Accounts
								</a></li>
								<li><a href="#">
									<i class="fa fa-circle"></i>
									Sitemap
								</a></li>
								<li><a href="#">
									<i class="fa fa-circle"></i>
									Terms and Conditions
								</a></li>
								<li><a href="#">
									<i class="fa fa-circle"></i>
									About
								</a></li>
								<li><a href="#">
									<i class="fa fa-circle"></i>
									Services
								</a></li>
								<li><a href="#">
									<i class="fa fa-circle"></i>
									Contact US
								</a></li>
							</ul>
						</div><!-- /.widget -->
					</div><!-- /.col-md-3 -->

					<div class="col-md-6">
						<div class="widget">
							<h4 class="widget-title">Subscribe to our Newsletter</h4>
							<div class="newsletter-box">
								<h5>Subscribe to our Newsletter</h5>
								<p>Seamlessly foster effective value with client-focused metrics. Holisticly redefine sticky systems with B2C process improvements.</p>

								<form class="subscribe-form" action="#">
									<i class="fa fa-envelope"></i>
									<input class="email" type="text" name="email" placeholder="Enter Your E-mail Address">
									<input class="custom-btn subscribe" type="submit" value="Subscribe">
								</form>
								<p class="privecy-policy">
									<i class="fa fa-lock"></i>
									Your e-mail address safe from 100% spam (<a href="#">privecy policy</a>)
								</p>
							</div><!-- /.newsletter-box -->	
						</div><!-- /.widget -->
					</div><!-- /.col-md-6 -->

				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.section-padding -->
	</div><!-- /.footer-top -->

	<!-- footer bottom  -->
	<div class="footer-bottom">
		<p>&copy; Copyright 2018 <a href="#"> Fitness24 </a>, All Right Researved.</p>
	</div><!-- /.footer-bottom -->
</footer>